.produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.produtos div{
    background-color: #63502c;
    text-align: center;
    color: white;
    border: solid 2px black;
    display: block;
    padding: 30px;
    border-radius: 20px;
}

.produtos img{
    background-color: #a88f58;
    background-size: cover;
    border-radius: 20px;
    height: auto;
    width: 100px;
}

.produtos div button{
    background-color: #a88f58;
    border: solid 1px black;
}

.produtos div button:hover{
    background-color: #79653e;
    border: solid 1px black;
    transition: transform 0.2s;
    transform: scale(1.02);
}

.produtos div{
    font-family: 'Times New Roman', Times, serif;
}